(
id: "sunlit_stride",
display_name: "Sunlit Stride",
arrangement: (
bpm: 104.0,
total_beats: 200.0,
root_hz: 440.0,
bass_root_hz: 110.0,
key_root_hz: 440.0,
master_gain: 0.68,
lowpass_alpha: 0.078,
tape_hiss: 0.0017,
gains: (
chord_pad: 0.011,
lead: 0.98,
soft_keys: 0.017,
bass: 0.036,
drums: 0.86,
),
lead: [
(start: 4.0, duration: 0.5, semitone: 9, volume: 0.014),
(start: 5.5, duration: 0.5, semitone: 11, volume: 0.013),
(start: 7.0, duration: 0.75, semitone: 14, volume: 0.015),
(start: 10.0, duration: 0.5, semitone: 16, volume: 0.016),
(start: 11.5, duration: 0.5, semitone: 14, volume: 0.014),
(start: 14.0, duration: 1.0, semitone: 9, volume: 0.013),
(start: 18.0, duration: 0.5, semitone: 12, volume: 0.014),
(start: 19.0, duration: 0.5, semitone: 16, volume: 0.015),
(start: 21.5, duration: 0.5, semitone: 19, volume: 0.016),
(start: 23.0, duration: 0.75, semitone: 16, volume: 0.014),
(start: 26.0, duration: 0.5, semitone: 14, volume: 0.015),
(start: 27.5, duration: 0.5, semitone: 12, volume: 0.013),
(start: 30.0, duration: 0.75, semitone: 11, volume: 0.014),
(start: 33.0, duration: 0.5, semitone: 9, volume: 0.015),
(start: 34.5, duration: 0.5, semitone: 12, volume: 0.014),
(start: 36.0, duration: 0.5, semitone: 16, volume: 0.017),
(start: 37.5, duration: 0.5, semitone: 18, volume: 0.016),
(start: 39.0, duration: 0.75, semitone: 16, volume: 0.015),
(start: 42.0, duration: 0.5, semitone: 14, volume: 0.014),
(start: 43.0, duration: 0.5, semitone: 16, volume: 0.016),
(start: 45.5, duration: 0.5, semitone: 21, volume: 0.018),
(start: 47.0, duration: 0.75, semitone: 19, volume: 0.016),
(start: 50.0, duration: 0.5, semitone: 16, volume: 0.015),
(start: 51.5, duration: 0.5, semitone: 14, volume: 0.014),
(start: 54.0, duration: 1.0, semitone: 12, volume: 0.015),
(start: 58.0, duration: 0.5, semitone: 9, volume: 0.014),
(start: 59.0, duration: 0.5, semitone: 11, volume: 0.014),
(start: 61.5, duration: 0.5, semitone: 16, volume: 0.017),
(start: 63.0, duration: 0.75, semitone: 18, volume: 0.016),
(start: 66.0, duration: 0.5, semitone: 19, volume: 0.017),
(start: 67.5, duration: 0.5, semitone: 16, volume: 0.015),
(start: 70.0, duration: 0.75, semitone: 14, volume: 0.014),
(start: 74.0, duration: 0.5, semitone: 12, volume: 0.014),
(start: 75.5, duration: 0.5, semitone: 14, volume: 0.015),
(start: 78.0, duration: 1.0, semitone: 19, volume: 0.017),
(start: 82.0, duration: 0.5, semitone: 21, volume: 0.018),
(start: 83.0, duration: 0.5, semitone: 19, volume: 0.016),
(start: 85.5, duration: 0.5, semitone: 16, volume: 0.015),
(start: 87.0, duration: 0.75, semitone: 14, volume: 0.014),
(start: 90.0, duration: 0.5, semitone: 12, volume: 0.014),
(start: 91.5, duration: 0.5, semitone: 16, volume: 0.016),
(start: 94.0, duration: 0.75, semitone: 18, volume: 0.017),
(start: 98.0, duration: 0.5, semitone: 19, volume: 0.018),
(start: 99.0, duration: 0.5, semitone: 21, volume: 0.017),
(start: 101.5, duration: 0.5, semitone: 16, volume: 0.015),
(start: 103.0, duration: 0.75, semitone: 14, volume: 0.014),
(start: 106.0, duration: 0.5, semitone: 11, volume: 0.014),
(start: 107.5, duration: 0.5, semitone: 14, volume: 0.015),
(start: 110.0, duration: 1.0, semitone: 16, volume: 0.016),
(start: 114.0, duration: 0.5, semitone: 12, volume: 0.014),
(start: 115.0, duration: 0.5, semitone: 16, volume: 0.016),
(start: 117.5, duration: 0.5, semitone: 19, volume: 0.017),
(start: 119.0, duration: 0.75, semitone: 21, volume: 0.018),
(start: 122.0, duration: 0.5, semitone: 19, volume: 0.017),
(start: 123.5, duration: 0.5, semitone: 16, volume: 0.015),
(start: 126.0, duration: 0.75, semitone: 14, volume: 0.014),
(start: 130.0, duration: 0.5, semitone: 9, volume: 0.014),
(start: 131.5, duration: 0.5, semitone: 12, volume: 0.015),
(start: 134.0, duration: 0.75, semitone: 16, volume: 0.017),
(start: 138.0, duration: 0.5, semitone: 18, volume: 0.016),
(start: 139.0, duration: 0.5, semitone: 16, volume: 0.015),
(start: 141.5, duration: 0.5, semitone: 14, volume: 0.014),
(start: 143.0, duration: 0.75, semitone: 12, volume: 0.014),
(start: 146.0, duration: 0.5, semitone: 11, volume: 0.013),
(start: 147.5, duration: 0.5, semitone: 14, volume: 0.015),
(start: 150.0, duration: 1.0, semitone: 16, volume: 0.016),
(start: 154.0, duration: 0.5, semitone: 19, volume: 0.017),
(start: 155.5, duration: 0.5, semitone: 21, volume: 0.018),
(start: 158.0, duration: 0.75, semitone: 18, volume: 0.016),
(start: 162.0, duration: 0.5, semitone: 16, volume: 0.015),
(start: 163.0, duration: 0.5, semitone: 14, volume: 0.014),
(start: 165.5, duration: 0.5, semitone: 12, volume: 0.014),
(start: 167.0, duration: 0.75, semitone: 9, volume: 0.013),
(start: 170.0, duration: 0.5, semitone: 12, volume: 0.014),
(start: 171.5, duration: 0.5, semitone: 16, volume: 0.016),
(start: 174.0, duration: 0.75, semitone: 19, volume: 0.017),
(start: 178.0, duration: 0.5, semitone: 21, volume: 0.018),
(start: 179.0, duration: 0.5, semitone: 19, volume: 0.016),
(start: 181.5, duration: 0.5, semitone: 16, volume: 0.015),
(start: 183.0, duration: 0.75, semitone: 14, volume: 0.014),
(start: 186.0, duration: 0.5, semitone: 12, volume: 0.014),
(start: 187.5, duration: 0.5, semitone: 11, volume: 0.013),
(start: 190.0, duration: 1.25, semitone: 9, volume: 0.015),
(start: 194.0, duration: 0.5, semitone: 14, volume: 0.014),
(start: 195.5, duration: 0.5, semitone: 16, volume: 0.015),
(start: 198.0, duration: 1.0, semitone: 21, volume: 0.017),
],
chords: [
(0, 4, 9, 14),
(2, 6, 11, 16),
(-3, 2, 7, 12),
(5, 9, 14, 18),
(0, 4, 9, 16),
(7, 11, 14, 19),
(2, 6, 9, 14),
(5, 9, 12, 16),
(-5, 0, 4, 9),
(2, 5, 9, 14),
(4, 7, 11, 16),
(0, 4, 7, 14),
(9, 12, 16, 21),
(7, 11, 14, 19),
(5, 9, 12, 17),
(2, 6, 11, 16),
(0, 4, 9, 14),
(4, 7, 12, 16),
(5, 9, 14, 18),
(7, 11, 16, 21),
(9, 12, 16, 21),
(2, 6, 9, 14),
(5, 9, 12, 17),
(0, 4, 9, 16),
(-3, 2, 7, 12),
(0, 4, 9, 14),
(2, 6, 11, 16),
(7, 11, 14, 19),
(5, 9, 12, 17),
(9, 12, 16, 21),
(4, 7, 11, 16),
(2, 6, 9, 14),
(0, 4, 9, 16),
(7, 11, 14, 19),
(5, 9, 14, 18),
(2, 6, 11, 16),
(-5, 0, 4, 9),
(0, 4, 7, 14),
(4, 7, 12, 16),
(7, 11, 16, 21),
(9, 12, 16, 21),
(5, 9, 12, 17),
(2, 6, 9, 14),
(0, 4, 9, 14),
(-3, 2, 7, 12),
(5, 9, 14, 18),
(7, 11, 14, 19),
(0, 4, 9, 16),
(2, 6, 11, 16),
(0, 4, 9, 14),
],
bass_roots: [
0,
2,
-3,
5,
0,
7,
2,
5,
-5,
2,
4,
0,
9,
7,
5,
2,
0,
4,
5,
7,
9,
2,
5,
0,
-3,
0,
2,
7,
5,
9,
4,
2,
0,
7,
5,
2,
-5,
0,
4,
7,
9,
5,
2,
0,
-3,
5,
7,
0,
2,
0,
],
),
)
